1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt

In [18]:
test1 = "This is a test of the emergency text system,"
file = open('test.txt','w')
file.write(test1)
file.close()
file = open('test.txt','r')
print(file.read())
file.close()

This is a test of the emergency text system,

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [23]:
test2 = open("test.txt", 'r')
print(type(test2),"test2 content:",test2.read())
print(type(test1),"test1 content:",test1)

<class '_io.TextIOWrapper'> test2 content: This is a test of the emergency text system,
<class 'str'> test1 content: This is a test of the emergency text system,

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [87]:
    
import csv

with open('books.csv', mode='w') as csv_file:
    fieldnames = ['title', 'author', 'year']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'title':'The Weirdstone of Brisingamen','author':'Alan Garner','year':1960})
    writer.writerow({'title':'Perdido Street Station','author':'China Miéville','year':2000})
    writer.writerow({'title':'Thud!','author':'Terry Pratchett','year':2005})
    writer.writerow({'title':'The Spellman Files','author':'Lisa Lutz','year':2007})
    writer.writerow({'title':'Small Gods','author':'Terry Pratchett','year':1992})

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [90]:
import sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''create table books
(title varchar(30),
author varchar(20),
year int)''')

5. Read books.csv and insert its data into the book table.

In [91]:
import csv
with open('books.csv','rt') as file:
    cin = csv.DictReader(file)
    books = [row for row in cin]
for j in range(len(books)):
    v = []
    for i in books[j].values():
        v.append(i)
    ins = 'insert into books (title,author,year) values(?,?,?)'    
    curs.execute(ins,v)

In [92]:
curs.execute('select * from books')
curs.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

6. Select and print the title column from the book table in alphabetical order.

In [93]:
curs.execute('select title from books order by title')
curs.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [94]:
curs.execute('select * from books order by year')
curs.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [98]:
import sqlalchemy as sa
import pandas as pd
conn = sa.create_engine('sqlite:////Desktop//books.db')

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [1]:
!pip install redis

Collecting redis
  Downloading https://files.pythonhosted.org/packages/a7/7c/24fb0511df653cf1a5d938d8f5d19802a88cef255706fdda242ff97e91b7/redis-3.5.3-py2.py3-none-any.whl (72kB)
Installing collected packages: redis
Successfully installed redis-3.5.3

In [2]:
import redis

In [3]:
conn = redis.Redis('localhost',6379)

In [24]:
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  """Entry point for launching an IPython kernel.

True

In [25]:
conn.hmget('test','count')

[b'1']

10. Increment the count field of test and print it.

In [26]:
conn.hincrby('test','count',2)
print(conn.hmget('test','count'))

[b'3']